.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: .5em;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.55);
  }
  
  .navbarWrap {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .navItem {
    float: left;
    padding-left: 3em;
   text-align: center;
   font-size: 30px;
   text-decoration: none;
   padding-bottom: 0;
  }

  @media all and (max-width: 1000px) { 
     .navbarWrap{
       width: 100%;
    }
  }